.logo {
    width: 100px;
}

.carousel {
    background-color:;
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

h2{
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

.phone {
    margin-top: 100px;
}

.phone h3 {
    margin-bottom: 40px;
}

.phone1,.laptop1 {
    margin-right: 100px;
}

.phone2,.laptop2 {
    margin-right: 100px;
}

.card {
    border: none;
}

.card-footer {
    border-top: none;
}

.laptop {
    margin-top: 100px;
}

h5 {
    font-size: 19px;
}

.see1 {
    position: relative;
    top: 30px;
    text-decoration: none;
    color: rgb(255, 166, 0);
    font-weight: 700;
}

.perfume {
    margin-bottom: 70px;
}

.categories {
    margin-top: 100px;
}

.borderr {
    border: 4px solid orange;
    border-radius: 10px;
    width: 130px;
    position: relative;
    left: 472px;
}

